.imgRed {
  background-color: red;
}
.imgGreen {
  background-color: green;
}
.imgOrange {
  background-color: orange;
}
.imgGrey {
  background-color: grey;
}
.status-icon {
  display: inline-block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
